<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>안전하개</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SCoreDream/font-face.css" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SCoreDream/font-family.css" />
</head>
<body>
    <div class="container-content">
        <div class="contents">

            <div class="profile-img">
                {% if member_type == '주민' %}
                    <img src="{% static 'image/rasing_hand_human.png' %}" alt="" class="img-right"> <!--⭐⭐유저 종류에 따라 프로필 바뀜-->
                {% else %}
                    <img src="{% static 'image/one_dog.png' %}" alt=""> <!--⭐⭐유저 종류에 따라 프로필 바뀜-->
                {% endif %}
            </div>

            <div class="profile-block">
                <div class="profile-name">
                    <div class="profile">
                        {% if member_type == '주민' %}
                            <img src="{% static 'image/people_profile.png' %}" alt=""> <!--⭐⭐유저 종류에 따라 프로필 바뀜-->
                        {% else %}
                            <img src="{% static 'image/petrol_profile.png' %}" alt=""> <!--⭐⭐유저 종류에 따라 프로필 바뀜-->
                        {% endif %}
                    </div>
                    <div class="name">
                        {{ member_type }} <span class="text-strong">{{ member.nickname }}</span><!--⭐⭐유저들 닉네임으로-->
                    </div>
                </div>

                <div class="user-infos">
                    {% if member_type == '반려견 순찰대' %}
                        <div class="report-num">
                            <div>신고 횟수</div> <!--⭐⭐유저 종류에 따라 텍스트 다름-->
                            <div class="num">{{ info1_count }}</div> <!--⭐⭐횟수-->
                        </div>
                        <div class="patrol-num">
                            <div>순찰 횟수</div> <!--⭐⭐유저 종류에 따라 텍스트 다름-->
                            <div class="num">{{ info2_count }}</div>  <!--⭐⭐횟수-->
                        </div>
                    {% else %}
                        <div class="report-num">
                            <div>건의 횟수</div> <!--⭐⭐유저 종류에 따라 텍스트 다름-->
                            <div class="num">{{ info1_count }}</div> <!--⭐⭐횟수-->
                        </div>
                        <div class="patrol-num">
                            <div>제보 횟수</div> <!--⭐⭐유저 종류에 따라 텍스트 다름-->
                            <div class="num">{{ info2_count }}</div>  <!--⭐⭐횟수-->
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if member_type == '반려견 순찰대' %}
                <div class="block">  <!--⭐⭐유저 종류에 따라 유무가 달라짐-->
                    <a href="{% url 'journals:journal_home' %}"> <!--⭐여기 url 연결-->
                        <div class="journal-block">
                            <div class="journal-texts">
                                <div class="text-title">순찰 일지 작성</div>
                                <div class="text-detail">반려견과 순찰하고 <span class="text-blue-strong">일지를 기록</span>하세요!</div>
                            </div>
                            <div class="journal-img">
                                <img src="{% static 'image/memo.png' %}" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}

            <div class="block">
                <a href="{% url 'boards:petrol_board' %}"> <!--⭐여기 url 연결-->
                    <div class="patrol-board">
                        <div class="board-texts">
                            <div class="board-title">순찰대 신고 게시판</div>
                            <div class="board-detail">반려견 순찰대가 <span class="text-blue-strong">순찰하며 발견한 위험사항</span>을</div>
                            <div class="board-detail"><span class="text-blue-strong">게시글로 확인</span>할 수 있어요!</div>
                        </div>
                        <div class="patrol-img">
                            <img src="{% static 'image/petrol-board.png' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>

            <div class="block">
                <a href="{% url 'boards:people_board' %}"> <!--⭐여기 url 연결-->
                    <div class="patrol-board">
                        <div class="board-texts">
                            <div class="board-title">주민 의견/제보 게시판</div>
                            <div class="board-detail">
                                <span class="text-blue-strong">제보 사항</span>과 <span class="text-blue-strong">순찰대 활동</span>에 대한
                                <span class="text-blue-strong">글을 남기면</span>
                            </div>
                            <div class="board-detail">반려견 순찰대가 <span class="text-blue-strong">참고하여 활동</span>할 수 있어요!</div>
                        </div>
                        <div class="community-img">
                            <img src="{% static 'image/community.png' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>

            <div class="block">
                <a href="http://petrol.or.kr/" target="_blank">
                    <div class="petrol-link-block">
                        <div>반려견 순찰대에 대해 더 알고 싶다면?</div>
                        <div><img src="{% static 'image/arrow.png' %}" alt=""></div>
                    </div>
                </a>
            </div>

            {% include 'menubar-home.html' %}

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>