<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SCoreDream/font-face.css" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SCoreDream/font-family.css" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container-content">
        <div class="contents">
            <div class="login-img">
                <img src="{% static 'image/three_dog.png' %}" alt="">
            </div>

            <div class="login-block">
                <form action="{% url 'accounts:login' %}" method="post" class="login-form"> <!--⭐⭐로그인 폼-->
                    {% csrf_token %}
                    <input type="text" id="user_id" name="username" placeholder="아이디" value="" required>
                    <input type="password" id="password" name="password" placeholder="비밀번호" value="" required>
                    <button type="submit" class="login-btn">로그인</button>
                </form>

                <div class="sign-up">
                    회원이 아니신가요?
                    <a href="{% url 'accounts:sign-up-select' %}"> <!--⭐⭐여기 링크-->
                        회원가입
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>