<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>안전하개</title>
    <link rel="stylesheet" href="{% static 'css/my_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SCoreDream/font-face.css" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SCoreDream/font-family.css" />
</head>
<body>
    <div class="container-content">
        <div class="contents">

            <div class="block">
                <a href="{% url 'accounts:my_profile' %}"> <!--⭐여기 url 연결-->
                    <div class="profile-block">
                        <div class="profile-img">
                            {% if member_type == '주민' %}
                                <img src="{% static 'image/people_profile.png' %}" alt=""> <!--⭐⭐유저 종류에 따라 프로필 바뀜-->
                            {% else %}
                                <img src="{% static 'image/petrol_profile.png' %}" alt=""> <!--⭐⭐유저 종류에 따라 프로필 바뀜-->
                            {% endif %}
                        </div>
                        <div class="profile-info">
                            <div class="name-block">
                                <div class="nickname"><span class="text-strong">{{ member.nickname }}</span></div> <!--⭐⭐여기 유저 정보-->
                                <div class="arrow-img">
                                    <img src="{% static 'image/back.png' %}" alt="">
                                </div>
                            </div>
                            <div class="region-info">{{ member.region_sido}} {{ member.region_sigungu }} {{ member.region_dong }}</div> <!--⭐⭐여기 유저 정보-->
                        </div>
                    </div>
                </a>
            </div>


            <div class="post-block">
                <div class="write-post">
                    <a href="{% url 'boards:my_boards' %}"> <!--⭐여기 url 연결-->
                        <div class="write-img">
                            <img src="{% static 'image/write.png' %}" alt="" class="img-margin">
                        </div>
                        <div>내가 쓴 글</div>
                    </a>
                </div>
                <div class="write-comment">
                    <a href="{% url 'boards:commented-boards' %}"> <!--⭐여기 url 연결-->
                        <div class="write-img">
                            <img src="{% static 'image/comment.png' %}" alt="">
                        </div>
                        <div>댓글 단 글</div>
                    </a>
                </div>
            </div>

            <div class="setting-block">
                <div class="app-guide">
                    <div class="title">이용 안내</div>
                    <div class="version-block">
                        <div>앱 버전</div>
                        <div class="version">8.0.12</div>
                    </div>
                    <div class="text-margin">공지사항</div>
                    <div class="text-margin">고객센터</div>
                    <div class="text-margin">약관 및 정책</div>
                </div>

                <div class="account-setting">
                    <div class="title">기타 설정</div>
                    <div class="text-margin"><a href="{% url 'accounts:logout' %}">로그아웃</a></div> <!--⭐여기 url 연결-->
                    <div class="text-margin"><a href="">회원탈퇴</a></div>
                </div>
            </div>
            {% include 'menubar-mypage.html '%}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>