body {
    padding: 0;
    margin: 0;
    height: 100%;
}

::-webkit-scrollbar { /*화면 스크롤바로 인해 화면 밀림 방지*/
	display: none;
}

/*전체 영역*/
.container-content {
    font-family: 'SCoreDream';
    font-weight: 400;
    outline: 1px solid black;
    width: 420px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
    z-index: 0;
    position: relative;
}

.contents {
    /* outline: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh + 600px);
}



/*--------------------------------------*/
/*여기서부터 컨텐츠 영역*/

/* 상단 부분 div */
.top-block {
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
    border-bottom: 1px solid #dedede;
}

.top-block > div {
    /* outline: 1px solid blue; */
}

/* 뒤로가기 아이콘 이미지 */
.top-block img {
    width: 30%;
    margin: 5% 0 0 15%;
}

/*페이지 제목*/
.title {
    margin-left: 8%;
    font-size: 1.1rem;
    font-weight: 500;
}

/* 순찰 시간, 지역 부분 div */
.date-block {
    display: flex;
    flex-direction: row;
    /* outline:1px solid blue; */
    padding-left: 4%;
    align-items: center;
    margin: 5% 0 0 0;
}

/* 날짜랑 지역 부분 */
.date {
    font-size: 0.9rem;
    margin-left: 2%;
}

/* 일지 내용 부분 div */
.journal-content {
    padding: 5%;
    margin: 10% 4% 5%;
    border-radius: 10px;
    line-height: 1.6rem;
    font-size: 0.95rem;
    word-break: break-all;
    outline: 1px solid #d5d5d5;
}

/* 이미지들 div */
.imgs-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    padding: 4% 5%;
}

/* 이미지들 */
.imgs {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 7px;
    cursor: pointer;
    opacity: 0.9;
    outline: 1px solid #c5c5c5;
}

/* 모달 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 420px;
    height: 100%;
    overflow: auto;
    background-color: rgba(88, 88, 88, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80%;
    width: auto;
    height: auto;
    padding-top: 30%;
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
/*--------------------------------*/

#dots-btn { /*... 버튼*/
    background-color: #FFD79E;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    text-align: center;
    line-height: 3.5rem;
    box-shadow: 0px 4px 4px 0px rgba(142, 78, 78, 0.25);
    position: fixed;
    bottom: 0;
    margin-bottom: 100px;
    margin-left: 347px;
    cursor: pointer;
}

#dots-btn > img {
    margin-top: 25%;
}

.btns { /*수정하기, (글) 삭제하기 버튼 div*/
    position: fixed;
    bottom: 0;
    margin-bottom: 175px;
    margin-left: 280px;
}

.btns > a {
    text-decoration: none;
}

.delete-btn, .edit-btn { /*(글) 삭제하기, 수정하기 버튼*/
    font-family: 'SCoreDream';
    font-size: 1rem;
    position: absolute;
    border: none;
    width: 8rem;
    height: 2.3rem;
    border-radius: 20px;
    bottom: 0;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(142, 78, 78, 0.25);
    display: none;
    align-items: center;
    cursor: pointer;
}

.edit-btn { /*수정하기 버튼*/
    margin-bottom: 50px;
    background-color: #FFD79E;

}

.delete-btn { /*삭제하기 버튼*/
    background-color: #ededed;
}

#modal { /*모달 큰 div*/
    width: 420px;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 2;
    margin: 0 auto;
}

.modal-contents { /*모달창 div*/
    box-shadow: 1px 5px 7px 0px rgba(130, 130, 130, 0.25);
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    width: 80%;
    height: 200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    z-index: 2;
    border: 1px solid #EFEFEF;
}

.modal-contents a {
    text-decoration: none;
}

.btn-close { /*모달창에 x 버튼*/
    float: right;
    margin: 4% 4% 0 0;
    border: none;
    background-color: white;
    cursor: pointer;
}

.btn-close:before { /*모달창에 x 버튼 꾸미기 */
    /* 닫기 버튼의 'X' 아이콘 색상 변경 (SVG 필터 사용) */
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M.646 1.354a.5.5 0 0 1 .708 0L8 8.293l6.646-6.647a.5.5 0 0 1 .708.708L8.707 9l6.647 6.646a.5.5 0 0 1-.708.708L8 9.707l-6.646 6.647a.5.5 0 0 1-.708-.708L7.293 9 .646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    mask-size: cover;
    background-color: #acacac; /* 'X' 아이콘 색상 */
}

.modal-title { /*글을 삭제하시겠습니까 텍스트*/
    font-size: 20px;
    margin-top: 18%;
    font-weight: 500;
}

.closePopup, .delete_post { /*아니오, 네 버튼*/
    width: 26%;
    border-radius: 10px;
    height: 2.2rem;
    margin-top: 8%;
}

.closePopup { /*아니오 버튼 - 글을 지우지 않음*/
    background-color: #E5E5E5;
    display:inline;
    float: left;
    margin-left: 18%;
    text-align: center;
    line-height: 2.2rem;
    color: black;
    cursor: pointer;
}

.delete_post { /*네 버튼 - 글을 지움*/
    font-family: 'SCoreDream';
    font-size: 1rem;
    border: none;
    background-color: #FFD79E;
    margin-right: 7%;
    cursor: pointer;
}