body {
    padding: 0;
    margin: 0;
    height: 100%;
}

::-webkit-scrollbar { /*화면 스크롤바로 인해 화면 밀림 방지*/
	display: none;
}

/*전체 영역*/
.container-content {
    font-family: 'SCoreDream';
    font-weight: 400;
    outline: 1px solid black;
    width: 420px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 500px;
    z-index: 0;
    position: relative;
}

.contents {
    /* outline: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*--------------------------------------*/
/*여기서부터 컨텐츠 영역*/

/* 상단 부분 div */
.top-block {
    height: 3rem;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-shrink: 0; /* 줄어들지 않도록 설정 */
}

/* 뒤로가기 아이콘 이미지 */
.top-block img {
    width: 1.7rem;
    margin-left: 1rem;
    margin-top: 0.15rem;
}

/* 페이지 제목 부분 */
.title {
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 23%;
}
/*-------------------------------------*/
/*상단 부분 끝*/


/*3️⃣달력 부분 css*/
.CalendarStart {
    /* background-color: white; */
    height: auto;
    width: 88%;
    margin: 0px;
    padding: 20px 30px 20px 20px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px #e5e5e5;
    margin-bottom: 8%;
    outline: 1px solid #EEEEEE;
}

td {
    width: 50px;
    height: 50px;
}

.Calendar {
    text-align: center;
}

.Calendar>thead>tr:first-child>td {
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    font-family: 'SCoreDream';
}

.Calendar>thead>tr:last-child>td {
    font-weight: 600;
    font-family: 'SCoreDream';
}

.Calendar>tbody>tr>td>p {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
    font-family: 'SCoreDream';
}

/* .pastDay {
            color: lightgray;
        } */

.today {
    background-color: #FFDB79;
    /* color: #fff; */
    font-weight: 600;
    cursor: pointer;
}

.futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
}

.futureDay:hover {
    background: #eee;
}

.futureDay.choiceDay,
.today.choiceDay {
    background: rgb(202, 202, 202);
    color: #fff;
    /* font-weight: 500; */
    cursor: pointer;
}

.sunday {
    color: #656EE8;
}

.saturday {
    color: #FF3C3C;
}
/*-------------------------------------*/
/*달력 부분 끝*/

/* 순찰 일지 부분 div */
.journal-block {
    outline: 1px solid #d5d5d5;
    width: 85%;
    padding: 4%;
    margin: 0 0 5% 4%;
    border-radius: 10px;
    box-shadow: 0px 4px 7px #E5E5E5;
}

/* 일지 상세보기로 넘어가는 a */
.journal-block > a{
    text-decoration: none;
    color: black;
}

/* 일지 날짜&시간 부분 div */
.date-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
}

/* 일지 날짜 */
.date {
    font-weight: 500;
}

/* 일지 시간 */
.time {
    color: #A5A5A5;
    font-size: 0.8rem;
}

/* 반려견 순찰대 일지 문구 */
.journal-title {
    padding-bottom: 7%;
}

/* 수정&삭제 버튼 div */
.change-block {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 4%;
}

/* 일지 수정 a 태그 */
.update > a {
    color: #5D6DBE;
}

/* 일지 삭제 */
.delete {
    text-decoration: underline;
    cursor: pointer;
}
/*-------------------------------------*/
/*반려견 순찰대 일지 부분 끝*/

/* 글 작성하기 버튼(+)*/
.write-btn {
    background-color: #d5d5d5;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    font-size: 3rem;
    line-height: 3.5rem;
    box-shadow: 0px 4px 4px 0px rgba(142, 78, 78, 0.25);
    position: fixed;
    bottom: 0;
    margin-bottom: 100px;
    margin-left: 340px;
    border: none;
    cursor: pointer;
}
/*-------------------------------------*/
/*게시글 없을 때 부분 div*/
.no-board-block {
    margin-top: 20%;
    text-align: center;
    padding-bottom: 400px;
    opacity: 0.6;
}

/* 게시글 하나도 없을 때 이미지 */
.no-board-img {
    width: 20%;
}
