
/*메뉴바(footer)*/
.menu {
    width: 420px;
    height: 76px;
    z-index: 1;
    /* outline: 1px solid blue; */
    position: fixed;
    bottom: 0;

    border-radius: 0.8rem 0.8rem 0rem 0rem;
    background: #FFF;
    box-shadow: 0px -4px 8px 0px rgba(162, 162, 162, 0.25);
}

/*메뉴바 아이콘 배치*/
.menu-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.menu-icons a {
    text-decoration: none;
}

.menu-name {
    color: #c5c5c5;
    font-size: 0.75rem;
    /*margin-top: 2%;*/
    white-space: nowrap; /* 줄바꿈 방지 */
}

.menu-icons div {
    text-align: center;
     /*outline: 1px solid red;*/
    padding-top: 3%;
    flex: 1; /* 동일한 너비 설정 */
    /*box-sizing: border-box;*/
}


/*메뉴바 hover 시 변경 css*/
/*.menu-icons div img:hover {*/
/*    cursor: pointer;*/
/*}*/

/*.home:hover {*/
/*    content: url(../image/home-hover.png);*/
/*}*/

/*.petrol:hover {*/
/*    content: url(../image/petrol-hover.png);*/
/*}*/

/*.people:hover {*/
/*    content: url(../image/people-hover.png);*/
/*}*/

/*.mypage:hover {*/
/*    content: url(../image/mypage-hover.png);*/
/*}*/

/* 이미지 변경 */
.home:hover img {
    content: url(../image/home-hover.png);
}

.petrol:hover img {
    content: url(../image/petrol-hover.png);
}

.people:hover img {
    content: url(../image/people-hover.png);
}

.mypage:hover img {
    content: url(../image/mypage-hover.png);
}

/* 글자 색상 변경 */
.home:hover .menu-name {
    color: #FF8652; /* 홈 텍스트 색상 변경 */
}

.petrol:hover .menu-name {
    color: #FF8652; /* 순찰대 게시판 텍스트 색상 변경 */
}

.people:hover .menu-name {
    color: #FF8652; /* 주민 게시판 텍스트 색상 변경 */
}

.mypage:hover .menu-name {
    color: #FF8652; /* 마이페이지 텍스트 색상 변경 */
}