body {
    padding: 0;
    margin: 0;
    height: 100%;
}

::-webkit-scrollbar { /*화면 스크롤바로 인해 화면 밀림 방지*/
	display: none;
}

/*전체 영역*/
.container-content {
    font-family: 'SCoreDream';
    font-weight: 400;
    outline: 1px solid black;
    width: 420px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 0;
    position: relative;
}

.contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*--------------------------------------*/
/*여기서부터 컨텐츠 영역*/

/* 상단 부분 div */
.top-block {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 5% 0 0 4%;
    margin-bottom: 15%;
}


/* 화살표 이미지 */
.top-block img {
    width: 1.5rem;
    margin-right: 1.1rem;
}

/* 페이지 제목(~변경) */
.page-title {
    margin-top: 0.13rem;
    font-weight: 500;
    font-size: 1.1rem;
}
/*-------------------------------------*/
/*상단 끝*/

/*현재 닉네임 div*/
.current-name {
    margin-left: 5%;
    outline: 1px solid #d5d5d5;
    width: 84%;
    border-radius: 10px;
    padding: 3%;
    margin-bottom: 20%;
    color: gray;
}


/*유저 정보 변경 form*/
.nickname-form {
    margin-left: 5%;
}

/* 정보 변경 input */
.nickname-form input {
    font-family: 'SCoreDream';
    font-size: 1rem;
    outline: 1px solid #c5c5c5;
    border: none;
    border-radius: 10px;
    padding: 3%;
    width: 89%;
    margin-bottom: 10%;
}

/* sumbit 버튼  */
.submit-btn {
    width: 95%;
    border-radius: 10px;
    padding: 3.5% 3%;
    border: none;
    font-family: 'SCoreDream';
    font-size: 1rem;
    cursor: pointer;
    background-color: #FFD79E;
}