body {
    padding: 0;
    margin: 0;
    height: 100%;
}

::-webkit-scrollbar { /*화면 스크롤바로 인해 화면 밀림 방지*/
	display: none;
}

/*전체 영역*/
.container-content {
    font-family: 'SCoreDream';
    font-weight: 400;
    outline: 1px solid black;
    width: 420px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
    z-index: 0;
    position: relative;
}

.contents {
    /* outline: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh + 600px);
    /* height: 100%; */
}


/*--------------------------------------*/
/*여기서부터 컨텐츠 영역*/

/* 상단 부분 div */
.top-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5rem;
    align-items: center;
    border-bottom: 1px solid #dedede;
}

/* 뒤로가기 아이콘 이미지 */
.top-block img {
    width: 21%;
    margin: 3% 0 0 5%;
}

/* 상단 요소들 정렬시키려고 */
.arrow-img, .btn-block, .title {
    width: 30%;
}

.arrow-img {
    cursor: pointer;
}

/* 페이지 제목 문구 */
.title {
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
}

/* 버튼 div */
.btn-block {
    /* width: 15%; */
    text-align: right;
}

/* 제출 버튼 */
.submit-btn {
    font-family: 'SCoreDream';
    border: none;
    background-color: #FFD79E;
    border-radius: 7px;
    padding: 6% 10%;
    margin-right: 5%;
    cursor: pointer;
}
/*-------------------------------------*/
/*상단 부분 끝*/

/* 게시글 종류 div */
.post-select-block {
    margin-top: 3%;
    padding: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4%;
}

#write-text { /* textarea*/
    font-family: 'SCoreDream';
    width: 88%;
    margin: 3% 0 3% 4%;
    border: none;
    resize: none;
    word-break: break-all;
    line-height: 1.7rem;
    font-size: 14px;
    padding: 2%;
    outline: 1px solid #c5c5c5;
    border-radius: 10px;
}

#write-text:focus { /*textarea focus*/
    outline:1px solid #FDAF7B;
}

#text-count { /*글자 수 표시 부분*/
    width: 96%;
    text-align: right;
    color: #5D6DBE;
}

/* 사진 선택 div */
.img-select {
    border-top: 1px solid #D5D5D5;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    position: fixed;
    width: 420px;
    bottom: 0;
    background-color: white;
}

.img-select > div {
    /* outline: 1px solid red; */
}

/* 카메라 아이콘 부분 div */
.camera-block {
    width: 17%;
}

/* file input  */
#fileInput { /*파일 선택, 이름 등 글자 숨기기*/
    display: none;
}

/* 카메라 아이콘 이미지 */
#imageButton > img{
    width: 60%;
    margin-left: 10%;
    cursor: pointer;
}

/* 파일 이름 div */
.src-block {
    margin-top: 2%;
    color: #A1A1A1;
    width: 100%;
}

/* 파일 이름 class */
.file-item {
    margin-bottom: 5%;
    width: 100%;
}

/*.file-items {*/
/*    align-content: center;*/
/*}*/

/* 사진 삭제 */
#clearImage {
    margin-right: 5%;
    border-radius: 10px;
    float: right;
    color: black;
    background-color: #FFD79E;
    padding: 1.3%;
    cursor: pointer;
}