body {
    padding: 0;
    margin: 0;
    height: 100%;
}

::-webkit-scrollbar { /*화면 스크롤바로 인해 화면 밀림 방지*/
	display: none;
}


/*전체 영역*/
.container-content {
    font-family: 'SCoreDream';
    font-weight: 400;
    outline: 1px solid black;
    width: 420px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row; /*column -> row*/
    flex-wrap: wrap; /*추가*/
    padding-bottom: 450px;
    z-index: 0;
    position: relative;
}

.contents {
    display: flex;
    flex-direction: column;
    width: 100%;

    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    height: 100%;
    /*width: 100%;*/
}
/*------------------------*/

/*상단의 페이지 제목 div*/
.top-block {
    height: 3rem;
    background-color: #D9D9D9;
    align-content: center;
    flex-shrink: 0;
}

/*뒤로가기 아이콘*/
.top-block img {
    width: 5%;
    margin: 0 34% 0 3%;
    float: left;
}

/*상단에 페이지 제목 문구*/
.top-text {
    padding: 0;
    margin: 0 0 0 0;
    font-size: 1.1rem;
    font-weight: 500;
}
/*------------------------*/

/*손 이미지 div*/
.img-block {
    clear: both;
    text-align: center;
    margin: 5% 0 14% 0;
}

/*손 이미지*/
.img-block img {
    width: 26%;
}
/*------------------------*/

/*회원가입 폼*/
.signup-form {
    margin: 0 auto;
    width: 90%;
}

/*아이디 부분 div*/
.user-id, .passwd, .passwd-check, .nickname, .email {
    margin: 3% 0 12% 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

/*input들 공통 설정*/
#user_id, #password1, #password2, #nickname, #email {
    height: 2.5rem;
    border: 1px solid #A5A5A5;
    border-radius: 10px;
    padding-left: 2%;
    font-family: 'SCoreDream';
}

#user_id::placeholder, #password1::placeholder, #password2::placeholder, #nickname::placeholder, #email::placeholder {
    color: #a5a5a5;
}

#user_id {
    width: 76%;
}

#password1, #password2 {
    width: 80%;
}

#nickname, #email {
    width: 100%;
}

/*input 입력 중*/
#user_id:focus, #password1:focus, #password2:focus, #nickname:focus, #email:focus{
    outline: 1px solid #656EE8;
}

/*아이디 중복검사 버튼*/
#idCheckBtn {
    /* width: 18%; */
    height: 2.7rem;
    border-radius: 10px;
    border: none;
    background-color: #D4D4D4;
    padding: 2%;
    font-family: 'SCoreDream';
    cursor: pointer;
}

/*아이디 중복검사, 에러 결과 문구*/
.error, #idCheckResponse, #error-message, .id-error {
    font-size: 0.78rem;
    margin-top:6%;
    color: #E07070;
}

/*비밀번호 보기 버튼*/
#passwd-icon1, #passwd-icon2 {
    width: 13.5%;
    height: 2.8rem;
    border-radius: 10px;
    border: none;
    padding: 2%;
    cursor: pointer;
}

/*지역 선택*/
.custom-select {
    position: relative;
    margin-bottom: 15px; /* 간격 설정 */
}


.select-selected {
    padding: 10px; /* 패딩 */
    border: 1px solid #A5A5A5; /* 테두리 */
    cursor: pointer; /* 커서 변경 */
    border-radius: 10px;
    color: #a5a5a5;
    font-size: 0.9rem;
}

.select-items {
    position: absolute;
    background-color: white; /* 배경색 */
    border: 1px solid #a5a5a5; /* 테두리 */
    border-radius: 10px;
    z-index: 999; /* 다른 요소 위에 표시 */
    width: 100%; /* 너비 설정 */
    display: none; /* 기본적으로 숨김 */
    /* bottom: 100%; */
    max-height: 250px; /* 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
}


.select-items div {
    padding: 10px; /* 패딩 */
    cursor: pointer; /* 커서 변경 */
}

.select-items div:hover {
    background-color: #f3f3f3; /* hover 시 배경색 변경 */
}


.select-selected.selected {
    color: black; /* 선택 후 글자 색: 검정색 */
}


/*제출버튼*/
.submit-btn {
    margin: 0 auto;
    font-size: 1.1rem;
    background-color: #D9D9D9;
    width: 420px;
    height: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border: none;
    font-family: 'SCoreDream';
    cursor: pointer;
}

#error-message {
    display: none;
    margin: 0;
}