<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>안전하개</title>
    <link rel="stylesheet" href="{% static 'css/my_boards.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SCoreDream/font-face.css" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SCoreDream/font-family.css" />
</head>
<body>
    <div class="container-content">
        <div class="contents">

            <div class="test">
                <div class="top-block">
                    <div>
                        <a href="{% url 'accounts:mypage' %}"><img src="{% static 'image/back.png' %}" alt=""></a> <!--⭐여기 url 연결-->
                    </div>
                    <div class="title">댓글 단 글</div>
                </div>

                {% if not boards %}
                    <div class="no-board-block">
                        <img src="{% static 'image/no_board.png' %}" alt="" class="no-board-img">
                        <p>댓글이 없습니다.</p>
                        <p>댓글을 작성해 보세요!</p>
                    </div>
                {% endif %}

                <!--⭐⭐여기 컨텐츠 반복문-->
                {% for board in boards %}
                    <div class="post-block">
                        <a href="{% if board.board_type.id == 1 %}
                                    {% url 'boards:petrol_board_detail' board.id %}
                                 {% else %}
                                    {% url 'boards:people_board_detail' board.id %}
                                 {% endif %}"> <!--⭐여기 url 연결-->
                            <div class="post-header">
                                <div class="user-profile">
                                    <div class="user-img">
                                        {% if board.user.member_type.type_name == '주민' %}
                                            <img src="{% static 'image/people_profile.png' %}" alt="">
                                        {% else %}
                                            <img src="{% static 'image/petrol_profile.png' %}" alt="">
                                        {% endif %}

                                    </div>
                                    <div class="user-name">{{ board.user.member_type }} <span
                                            class="text-strong">{{ board.user.nickname }}</span></div> <!--⭐여기 유저 닉네임-->
                                </div>
                                <div class="post-date">{{ board.created_at|date:"Y/m/d" }}</div> <!--⭐여기 게시글 날짜-->
                            </div>

                            <div class="post-content"> <!--⭐여기 게시글 내용-->
                                {{ board.short_content }}
                            </div>

                            <div class="post-footer">
                                <div class="post-region">{{ board.region_sido }} {{ board.region_sigungu }} {{ board.region_dong }}</div>
                                <!--⭐게시글 쓴 유저 활동지역-->
                                <div class="comment">
                                    <div class="comment-img">
                                        <img src="{% static 'image/speech-bubble.png' %}" alt="">
                                    </div>
                                    <div>{{ board.comment_count }}</div>
                                </div>
                            </div>
                            {% if board.user.member_type.type_name == '주민' %}
                                <div class="post-type">#{{ board.board_type.type_name }}</div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="gap-block"></div>
                {% endfor %}
            </div>

{#            <a href="#">#}
{#                <button type="button" class="up-btn"> <!--멘 위로 올라가기 버튼 #으로 이동-->#}
{#                    <img src="{% static 'image/up.png' %}" alt="">#}
{#                </button>#}
{#            </a>#}
        </div>

    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="application/javascript"
            src="https://zelkun.tistory.com/attachment/cfile8.uf@99BB7A3D5D45C065343307.js"></script>
    <script src="{% static 'js/people_board_main.js' %}"></script>
</body>
</html>