<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>의견/제보 게시판 메인</title>
    <link rel="stylesheet" href="{% static 'css/people_board_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SCoreDream/font-face.css" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SCoreDream/font-family.css" />
</head>
<body>
    <div class="container-content">
        <div class="contents">

            <div class="test">
                <div class="top-block">
                    <div>
                        <a href="{% url 'home' %}"><img src="{% static 'image/back.png' %}" alt=""></a> <!--⭐여기 url 연결-->
                    </div>
                    <div class="title">의견/제보 게시판</div>
                </div>

                <div class="img-block">
                    <img src="{% static 'image/people-group.png' %}" alt="">
                </div>

                <div class="board-block">
                    <form class="region-block" method="post" action="{% url 'boards:people_board' %}">
                        {% csrf_token %}
                        <div class="block-title">
                            지역 설정
                            <button type="submit" class="check-btn"><img src="{% static 'image/check.png' %}" alt=""></button>
                        </div>

                        <div class="region">
                            <div class="custom-select" id="sido-select">
                                <div class="select-selected">{{ sido|default:'시/도' }}</div>
                                <div class="select-items"></div>
                            </div>
                            <div class="custom-select" id="sigugun-select">
                                <div class="select-selected">{{ sigungu |default:'시/군/구' }}</div>
                                <div class="select-items"></div>
                            </div>
                            <div class="custom-select" id="dong-select">
                                <div class="select-selected">{{ dong|default:'읍/면/동' }}</div>
                                <div class="select-items"></div>
                            </div>
                            <input type="hidden" name="sido" id="sido-input" required>
                            <input type="hidden" name="sigungu" id="sigugun-input" required>
                            <input type="hidden" name="dong" id="dong-input" required>
                        </div>
                        <div id="error-message">지역을 선택해주세요.</div>

                        <a href="{% url 'boards:people_board' %}" class="all-link">
                            <div class="all-board">전체 게시글</div>
                        </a>
                    </form>

                    <div class="post-type-select">
                        <div class="select-all">#전체</div>
                        <div class="select-idea">#의견</div>
                        <div class="select-report">#제보</div>
                    </div>

                    {% if not boards %}
                        <div class="no-board-block">
                            <img src="{% static 'image/no_board.png' %}" alt="" class="no-board-img">
                            <p>게시글이 없습니다.</p>
                            <p>게시글을 작성해 보세요!</p>
                        </div>
                    {% endif %}

                    <!--⭐⭐여기 컨텐츠 반복문-->
                    {% for board in boards %}
                        <div class="post-block">
                            <a href="{% url 'boards:people_board_detail' board.id %}"> <!--⭐여기 url 연결-->
                                <div class="post-header">
                                    <div class="user-profile">
                                        <div class="user-img"><img src="{% static 'image/people_profile.png' %}" alt=""></div>
                                        <div class="user-name">{{ board.user.member_type }} <span class="text-strong">{{ board.user.nickname }}</span></div> <!--⭐여기 유저 닉네임-->
                                    </div>
                                    <div class="post-date">{{ board.created_at|date:"Y/m/d"  }}</div> <!--⭐여기 게시글 날짜-->
                                </div>

                                <div class="post-content"> <!--⭐여기 게시글 내용-->
                                    {{ board.short_content }}
                                </div>

                                <div class="post-footer">
                                    <div class="post-region">{{ board.region_sido }} {{ board.region_sigungu }} {{ board.region_dong }}</div> <!--⭐게시글 쓴 유저 활동지역-->
                                    <div class="comment">
                                        <div class="comment-img">
                                            <img src="{% static 'image/speech-bubble.png' %}" alt="">
                                        </div>
                                        <div>{{ board.comment_count }}</div>
                                    </div>
                                </div>
                                <div class="post-type">#{{ board.board_type.type_name }}글</div>
                            </a>
                        </div>
                        <div class="gap-block"></div>
                    {% endfor %}
                </div>

                {% if user.member_type.id == 1 %}
                    <a href="{% url 'boards:people_board_write' %}"> <!--⭐⭐여기 링크 연결-->
                        <button type="button" class="write-btn"> <!--글 작성 버튼-->
                            &#43;
                        </button>
                    </a>
                {% endif %}

                <a href="#">
                    <button type="button" class="up-btn"> <!--멘 위로 올라가기 버튼 #으로 이동-->
                        <img src="{% static 'image/up.png' %}" alt="">
                    </button>
                </a>
            </div>
            {% include 'menubar.html' %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://zelkun.tistory.com/attachment/cfile8.uf@99BB7A3D5D45C065343307.js"></script>
    <script src="{% static 'js/people_board_main.js' %}"></script>
</body>
</html>