<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>안전하개</title>
    <link rel="stylesheet" href="{% static 'css/petrol_board_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SCoreDream/font-face.css" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SCoreDream/font-family.css" />
</head>
<body>
    <div class="container-content">
        <div class="contents">
            <div class="content">
                <div class="top-block">
                    <div class="arrow-img">
{#                        <a href="{% url 'boards:petrol_board' %}"><img src="{% static 'image/back.png' %}" alt=""></a> <!--⭐여기 url 연결-->#}
                        <img src="{% static 'image/back.png' %}" alt="" onclick="window.history.back();"> <!--⭐여기 url 연결-->
                    </div>
                    <div class="title">신고 게시판</div>
                </div>

                <div class="post-block">
                    <div class="post-header">
                        <div class="user-profile">
                            <div class="user-img"><img src="{% static 'image/petrol_profile.png' %}" alt=""></div>
                            <div>{{ board.user.member_type }} <span class="text-strong">{{ board.user.nickname }}</span></div> <!--⭐여기 유저 닉네임-->
                        </div>
                        <div class="post-date">{{ board.created_at|date:"Y/m/d"  }}</div> <!--⭐여기 게시글 날짜-->
                    </div>

                    <div class="post-content"> <!--⭐여기 게시글 내용-->
                        {{ board.content|linebreaks }}
                    </div>

                    {% if board.image_path %}
                        <div class="post-img-block"> <!--여기 사진 있으면 보이게-->
                            <img src="{{ board.image_path.url }}" alt="">
                        </div>
                    {% endif %}

                    <div id="map"></div> <!--카카오 지도-->

                    <div class="user-region">{{ board.region_sido }} {{ board.region_sigungu }} {{ board.region_dong }}</div> <!--⭐⭐여기 유저 활동지역-->

                    <div class="comment-title-header">
                        <div class="comment-img">
                            <img src="{% static 'image/speech-bubble.png' %}" alt="">
                        </div>
                        <div class="comment-num">댓글 {{ comment_count }}</div> <!--⭐⭐여기 게시글 댓글 수-->
                    </div>

                    <!--⭐⭐댓글 작성 폼-->
                    <form action="{% url 'boards:petrol_board_detail' board.id%}" method="post" id="comment-form"> <!--⭐⭐댓글 등록 textarea-->
                        {% csrf_token %}
                        <textarea name="content" id="comment-area" placeholder="댓글 작성" maxlength="500" spellcheck="false"></textarea>
                        <div class="comment-form-footer">
                            <div id="text-count">0 / 500</div>
                            <div class="submit-btn">
                                <button type="submit">등록</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="line"></div>

                {% if not comments %}
                    <div class="no-comments">
                        <img src="{% static 'image/speech-bubble.png' %}" alt="">
                        <p>댓글을 작성해 보세요!</p>
                    </div>
                {% endif %}

                <!--⭐⭐여기 댓글 반복문-->
                {% for comment in comments %}
                    <div class="comment-block">
                        <div class="comment-block-header">
                            <div class="comment-infos">
                                <div class="comment-user-profile">
                                    {% if comment.user.member_type.type_name == '반려견 순찰대' %}
                                        <img src="{% static 'image/petrol_profile.png' %}" alt=""> <!--⭐유저 종류에 따라 달라짐-->
                                    {% else %}
                                         <img src="{% static 'image/people_profile.png' %}" alt=""> <!--⭐유저 종류에 따라 달라짐-->
                                    {% endif %}
                                </div>
                                <div class="comment-user-name">{{ comment.user.member_type}} <span class="text-strong">{{ comment.user.nickname }}</span></div> <!--⭐⭐유저 종류에 따라 달라짐-->
                            </div>

                            {% if comment.user == request.user %}
                                <form action="{% url 'boards:comment_delete' comment.id %}" method="post" class="comment-btns"> <!--⭐댓글 쓴 사람만 보이게-->
                                    {% csrf_token %}
                                    <a href="{% url 'boards:comment_edit' comment.id %}">수정</a>
                                    <button type="submit">삭제</button>
                                </form>
                            {% endif %}
                        </div>

                        <div class="comment-content"> <!--⭐여기 댓글 내용-->
                            {{ comment.content|linebreaks }}
                        </div>

                        <div class="comment-date">{{ comment.created_at|date:"Y/m/d" }}</div> <!--⭐여기 댓글 날짜-->
                    </div>
                {% endfor %}

                {% if board.user == request.user %}
                    <button type="button" id="dots-btn"> <!--⭐... 버튼-->
                        <img src="{% static 'image/dots.png' %}" alt="">
                    </button>
                {% endif %}

                <div class="btns">
                    <a href="{% url 'boards:petrol_board_edit' board.id %}">
                        <button type="button" class="edit-btn">수정하기</button> <!--⭐⭐수정하기 버튼-->
                    </a>

                    <button type="button" class="delete-btn">삭제하기</button> <!--⭐⭐삭제하기 버튼-->
                </div>

                <div id="modal"> <!--모달창-->
                    <div class="modal-contents">
                        <button type="button" class="btn-close"></button>
                        <div class="modal-title">글을 삭제하시겠습니까?</div>
                        <div class="closePopup">아니오</div>
                        <form class="yesBtn" method="post" action="{% url 'boards:board_delete' board.id %}">
                            {% csrf_token %}
                            <button type="submit" class="delete_post">네</button> <!--⭐⭐여기 글 삭제 버튼-->
                        </form>
                    </div>
                </div>
            </div>
            {% include 'menubar-petrol.html' %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=15505acf15cc35a126e3d8d508717896"></script>
    <script>
        // 서버에서 전달한 위도와 경도를 JavaScript 변수로 설정
        const latitude = {{ location.lat }}; // 예: location.latitude
        const longitude = {{ location.lon }}; // 예: location.longitude
    </script>
    <script src="{% static 'js/petrol_board_detail.js' %}"></script>
</body>
</html>