<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>순찰 일지 상세보기</title>
    <link rel="stylesheet" href="{% static 'css/journal_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SCoreDream/font-face.css" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/ungveloper/web-fonts/SCoreDream/font-family.css" />
</head>
<body>
    <div class="container-content">
        <div class="contents">

            <div class="top-block">
                <div class="arrow-img">
                    <a href="{% url 'journals:journal_home' %}?date={{ journal.date|date:'Y-m-d' }}"> <!--⭐여기 url 연결-->
                        <img src="{% static 'image/back.png' %}" alt="">
                    </a>
                </div>
                <div class="title">{{ journal.date|date:"Y년 m월 d일" }} 일지</div>
            </div>

            <div class="date-block">
                <div>순찰 시간 : </div>
                <div class="date">{{ journal.start_time|date:"H:i"}} ~ {{ journal.end_time|date:"H:i"}}</div> <!--⭐⭐여기 시간-->
            </div>
            <div class="date-block">
                <div>순찰 지역 : </div>
                <div class="date">{{ journal.region_sido }} {{ journal.region_sigungu }} {{ journal.region_dong }}</div> <!--⭐⭐여기 회원 지역-->
            </div>

            <div class="journal-content">
                {{ journal.content|linebreaks }}
            </div>

            {% if images %}
                <div class="imgs-block"> <!--⭐⭐여기 유저가 올린 사진-->
                    {% for image in images %}
                        <div>
                            <img src="{{ image.image_path.url }}" class="imgs" alt="">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <button type="button" id="dots-btn"> <!--⭐... 버튼-->
                <img src="{% static 'image/dots.png' %}" alt="">
            </button>

            <div class="btns">
                <a href="{% url 'journals:journal_edit' journal.id %}">
                    <button type="button" class="edit-btn">수정하기</button> <!--⭐⭐수정하기 버튼-->
                </a>
                <button type="button" class="delete-btn">삭제하기</button> <!--⭐⭐삭제하기 버튼-->
            </div>

            <div id="imageModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="modalImage">
                <div id="caption"></div>
            </div>

            <div id="modal"> <!--모달창-->
                <div class="modal-contents">
                    <button type="button" class="btn-close"></button>
                    <div class="modal-title">글을 삭제하시겠습니까?</div>
                    <div class="closePopup">아니오</div>
                    <form class="yesBtn" method="post" action="{% url 'journals:journal_delete' journal.id %}">
                        {% csrf_token %}
                        <button type="submit" class="delete_post">네</button> <!--⭐⭐여기 글 삭제 버튼-->
                    </form>
                </div>
            </div>
            {% include 'menubar.html' %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/journal_detail.js' %}"></script>
</body>
</html>